fastapi
pydantic
python-dotenv
requests
curl_cffi
uvicorn
psutil
websockets
tls_client
fake_useragent
python-multipart
aiofiles
jinja2
streamlink
undetected-chromedriver
selenium
setuptools
